<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="OracleDbConnection"
			        connectionString="User Id=xbosprod;Password=login123;Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=172.16.63.106)(PORT=1521)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=xbos2)))"
			  providerName="System.Data.OracleClient"/>
	</connectionStrings>
</configuration>

<!--App.config用途是集中管理應用程式的設定參數，可提高程式維護性等等-->
<!--connectionStrings(為存放資料庫連線字串)=而其中add name是在設定連線字串的名稱， connectionString是連線字串-->